<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MackerelPluginSet.ChatLog" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MackerelPluginSet.ChatLog.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <MackerelPluginSet.ChatLog>
            <setting name="Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="LogRotate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogRotateLines" serializeAs="String">
                <value>0</value>
            </setting>
        </MackerelPluginSet.ChatLog>
    </userSettings>
    <applicationSettings>
        <MackerelPluginSet.ChatLog.Settings>
            <setting name="Enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="Header" serializeAs="String">
                <value/>
            </setting>
            <setting name="Footer" serializeAs="String">
                <value/>
            </setting>
            <setting name="ChatFormat" serializeAs="String">
                <value/>
            </setting>
            <setting name="JoinFormat" serializeAs="String">
                <value/>
            </setting>
            <setting name="LeaveFormat" serializeAs="String">
                <value/>
            </setting>
        </MackerelPluginSet.ChatLog.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
